.top-buffer{
  margin-top:20px;
}
.no-overflow{
  overflow-y: scroll;
  height: 200px;
}
.above{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: -70px;
  margin-top: 40px;
}

.panel-heading,.panel{

  border-color: #ccc;
}
.container{
  margin-top: -100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.noclick{
  opacity: 0.5;
}
#outer{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
#middle{
  display: table-cell;
  vertical-align: middle;
}
