.top-buffer{
  margin-top:20px;
}
.no-overflow{
  overflow-y: scroll;
  height: 200px;
}
.above{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: -60px;
  margin-top: 40px;
}
html{
  overflow: hidden;
}
.panel-heading,.panel{

  border-color: #ccc;
}
